<html>
    <head>
        <title>The Map</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <link rel="stylesheet" type="text/css" href="./style.css" />
        <script>
            function initMap() {
                // The location of Uluru
                const kent = { lat: 41.15, lng: -81.36 };
                // The map, centered at Kent
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 8,
                    center: kent,
                });
                const svgMarker = {
                    path: "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
                    fillColor: "{{ color }}",
                    fillOpacity: 0.6,
                    strokeWeight: 0,
                    rotation: 0,
                    scale: 2,
                    anchor: new google.maps.Point(15, 30),
                };
                // The marker, positioned at Kent
                const markerkent = new google.maps.Marker({
                    position: kent,
                    map: map,
                    icon: svgMarker,
                });
                //const image = "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";
                // const akron = { lat: 41.15, lng: -81.06 };
                //const markerakron = new google.maps.Marker({
                //    position: akron,
                //    map: map,
                //    icon: image,
                //});
            }
            
            window.initMap = initMap;
        </script>
    </head>
    <body>
        <h1>The Map</h1>
        <div id="map"></div>   
        <hr>
        <p>The temperature in Kent is {{ temp }} degrees.</p>    
        <script
        src="https://maps.googleapis.com/maps/api/js?key=<your api from google api console here>&callback=initMap&v=weekly"
        defer
      ></script>
    </body>
</html>