<html>
    <body>
        <h1>Shopping List</h1>
        <hr/>
        <table id="listtable">
        </table>
        <p id="temp"></p>
        <hr/>   
        <button type="button" onclick="insert_data()" >Insert Data</button>
        <hr/>   
    </body>
    <script>
        function insert_data() {
            listTable = document.getElementById('listtable')
            listTable.innerHTML = "<tr><td>exampleaaaa</td><td>example12</td></tr>" + "<tr><td>example21</td><td>example22</td></tr>";
            tempParagraph = document.getElementById('temp')
            tempParagraph.innerHTML = "temp";
            xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                // What to do when the response is ready
                responseText = xhttp.responseText;
                console.log(responseText)
                tempParagraph.innerHTML = responseText
                data = JSON.parse(responseText)
                console.log(data)
            }       
            xhttp.open("GET", "/data");
            xhttp.send();
            console.log("waiting for response from ajax call");
        }
    </script>
</html>